<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="node_modules/angular-loading-bar/build/loading-bar.min.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!-- endbuild -->
</head>

<body ng-app="loginApp" ng-controller="LoginCtrl as auth">
<div class="container" ng-if="!isUserLogged">
    <div id="loginbox" style="margin-top: 50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
            </div>

            <div style="padding-top: 30px" class="panel-body">

                <div style="display: none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form id="loginform" class="form-horizontal" role="form" ng-submit="auth.login()">

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> <input
                            id="login-username" ng-model="auth.username" type="text" class="form-control"
                            name="username" value="" placeholder="username or email">
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> <input
                            id="login-password" ng-model="auth.password" type="password" class="form-control"
                            name="password" placeholder="password">
                    </div>

                    <div style="margin-top: 10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                            <button class="btn btn-success" type="submit">Sign in</button>

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">

                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>

</div>
</body>