<div uib-alert type="danger" ng-if="category.errors.length > 0">
	<div>
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><br>
		<span ng-repeat="error in category.errors">{{error}}<br></span>

	</div>
</div>

<div uib-alert type="success" ng-if="category.messageSuccess.length > 0"
	dismiss-on-timeout=5000 close="category.closeAlert($index)">
	<div>
		<span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
		<span ng-repeat="success in category.messageSuccess">{{success}}<br></span>
	</div>
</div>

<div class="row">
	<!-- Vedi util.html.service #SetCategoriesListTemplate -->
	<div id="categories"></div>

</div>